@import "~normalize.css";
@import "colors.scss";
//@import "../assets/fonts/fonts.scss";


html {
  scroll-behavior: smooth;
}

.container{
  width: 722px;
  margin: 0 auto;
  border: 2px solid red;
  font-family: "DBAdmanX";
  @media screen and (max-width: 722px){
    width: 100%;
  }
}

*{
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

header{
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  .header-logo{
    padding-top: 32px;
  }
}

footer{
  border: 2px solid green;
}

.container{
  .form{
    border: 2px solid yellow;

    .form-rating{

      .form-rating__title{
        font-weight: 700;
        font-size: 40px;
        line-height: 44px;
        color: $black;
      }
      .form-rating__stars{

        .form-rating__list{

          .form-rating__item{
            width: 33px;
            height: 33px;

            @mixin star{
              width: 100%;
              height: 100%;
              background-repeat: no-repeat;
            }
            .star-full{
              @include star;
              background-image: url("../assets/images/icon/star.svg");
            }
            .star-empty{
              @include star;
              background-image: url("../assets/images/icon/star-empty.svg");
            }
          }
        }
      }

      .form-textarea{

        .form-textarea__bread-crumbs{
          font-weight: 400;
          font-size: 20px;
          line-height: 16px;
          color: $labelColor;
        }
        textarea{
          width: 100%;
          height: 120px;
        }
      }



    }

  }

}

.footer-info{

  div{
    border: 1px solid red;
  }

}













